@charset="ISO-8859-1";
#top h1, #top p, {
    margin: 0;
    padding: 0;
}
.container {
    xmin-width: 900px;
  
}

.wrapper {
    position: relative;
    overflow: auto;
   
}
#top {
    border-radius: 4px;
    margin: 4px;
}

#top {
    background-color: #1b59b7 ;
   color: #ffffff; 
    padding: 0px;
}
#top h1, #top p {
    margin: 0;
    padding: 0;
}
.button{
background-color:#1b59b7  ;
border:round;
border-radius:25px;
box-shadow: 0 10px #999;
color:#fff;
padding:15px 20px;
text-align:center;
text-decoration:none;
outline:none;
display:inline-block;
font-size:20px;
margin:15px 2px;
cursor:pointer;

}

.button:hover{
back-ground-color:#3e8e41;
}
.button:active{
background-color:#3e8e41;
box-shadow: 0 9px #999;
transform:translateY(4px);
}
body{
text-align:left;
}
h1{
font-size: 40px;
}
p{
font-size:24px;
font-family: "Times New Roman", Times,serif;
}
 #main {
        margin: 0;
        margin-right:0;
    }    
    
    
    
    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
     
}

 input[type=password], date {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
     
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=reset] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #45a049;
}

input[type=submit]:hover {
    background-color: #45a049;
}
/* 
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
} */

#id2{

background-image: url(../Images/Background1.jpg);
background-size: cover;
}
